* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  height: 100%;
  width: 100%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filter {
  position: relative;
  bottom: 0px;
  left: 120px;
  
}

.board-border {
  display: flex;
  align-items: center;
  width: 320px;
  height: 320px;
  border: 5px solid green;
  border-radius: 50%;
  margin: 0 auto;
}
.board-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside-circle {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
}
.bottleImg {
  position: absolute;
  z-index: 1;
  height: 180px;
  width: 50px;
  transition: transform 3.7s;
}
.fast {
  transition: transform 0s;
}

.inputForm {
  margin: 0 auto;
}

.inputForm input,
.inputForm button {
  border-radius: 5px;
}

.spinBtn {
  display: block;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.restartGame {
  margin: 10px auto;
}
.restartBtn {
  background-color: #4caf50;
  color: #fff;
}
.restartLabel {
  margin: 5px;
  display: inline-block;
  font-size: larger;
  font-weight: 600;
  padding: 10px;
}
.feedback {
  /* position: absolute; */
  bottom: 20px;
  margin: 20px;
}
