* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.filter{
  position: relative;
    bottom: 30px;
    left: 125px;
}
.toggle_input{
  visibility: hidden;
}
.toggle_fill{
  margin-top: 10px;
  position: relative;
  width: 54px;
  height: 34px;
  border-radius: 15px;
  background: grey;
  transition: background 0.2ms;
}
.toggle_input:checked ~ .toggle_fill{
  
  background: #0d84e2;
}
.toggle_fill::after{
  content: "";
  position: absolute;
  
  top: 4px;
  left: 4px;
  height: 27px;
  width: 27px;
  background: #fff;
  box-shadow: #000, 15%;
  opacity: X-0,Y-3,Blur-8;
  border-radius: 50%;
  transition: all 0.2s;
}
.toggle_input:checked + .toggle_fill::after{
  transform: translateX(18px);
}

.board-container {
  position: relative;

  width: 300px;
  height: 300px;
 
}

.bottleImg {
  position: absolute;
  top: 70px;
  left:70px;
  height: 160px;
  width: 160px;
  transition: transform 1s;
}

.inputForm{
  margin:0 auto;
  /* display: flex;
  justify-content: center;  */
}

.inputForm input,.inputForm button{
  border-radius: 5px;
}

.spinBtn{
  display: block;
  height: 60px;
  width: 60px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: #000,15%;

}
.spinBtn span{
  font-size: 20px;
}
.restartGame{
  margin-top: 30px;
}
.restartBtn{
  margin-left: 10px;
  display: inline-block;
  padding:10px;
}
.feedback{
  margin-top: 40px;
}
.feedback label{
  display: block;
  text-align: center;
}
.feedback textarea{
  margin-top: 10px;
  width: 99%;
  height: 50px;
}