* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.gameContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  border: 5px solid yellowgreen;
}
.App {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filter {
  position: relative;
  bottom: 0px;
  left: 100px;
}
.toggle_input {
  visibility: hidden;
}
.toggle_fill {
  margin-top: 10px;
  position: relative;
  width: 54px;
  height: 34px;
  border-radius: 15px;
  background: #4caf50;
  transition: background 0.2ms;
}
.toggle_input:checked ~ .toggle_fill {
  background: #e20d0d;
}
.toggle_fill::after {
  content: "18+";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bolder;
  top: 4px;
  left: 4px;
  height: 27px;
  width: 27px;
  background: #fff;
  box-shadow: #000, 15%;
  opacity: X-0, Y-3, Blur-8;
  border-radius: 50%;
  transition: all 0.2s;
}
.toggle_input:checked + .toggle_fill::after {
  transform: translateX(18px);
}
.board-border {
  display: flex;
  align-items: center;
  width: 320px;
  height: 320px;
  border: 5px solid green;
  border-radius: 50%;
  margin: 0 auto;
}
.board-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside-circle {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #fff;
}
.bottleImg {
  position: absolute;
  z-index: 1;
  height: 180px;
  width: 50px;
  transition: transform 4s;
}
.fast {
  transition: transform 0.5s;
}

.inputForm {
  margin: 0 auto;
}

.inputForm input,
.inputForm button {
  border-radius: 5px;
}

.spinBtn {
  display: block;

  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.spinBtn span {
  z-index: 1;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.restartGame {
  margin: 10px auto;
}
.restartBtn {
  background-color: #4caf50;
}
.restartLabel {
  margin: 5px;
  display: inline-block;
  font-size: larger;
  font-weight: 600;
  padding: 10px;
}
.feedback {
  /* position: absolute; */
  bottom: 20px;
  margin: 20px;
}
.feedback label {
  display: block;
  text-align: center;
}
.feedback textarea {
  margin-top: 10px;
  width: 99%;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
}
